@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* || RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

figure img{
    display: block; /* Removes the little space under images because they're inline elements */
    max-width: 100%; /* Ensure it does not overflow its container */
    height: auto;
    border-radius: 1rem;
}

/* || GENERAL STYLES */
body{
    font-family: "Figtree", sans-serif;
    min-height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 1rem;
    width: 350px;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px;
}

figure{
    width: fit-content;
    align-self: center;
    margin-bottom: 1rem;
}

.one{
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 1rem;
}

.two{
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

h2{
    margin-bottom: 1rem;
}

:is(h2:active,h2:hover,h2:focus){
    color: hsl(47, 88%, 63%);
}

.three{
    color: hsl(0, 0%, 50%);
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

section{
    display: flex;
    align-items: center;
    gap: 1rem;
}

section img{
    width: 32px;
}

span{
    font-weight: 800;
    font-size: 1rem;
}